/*  this is the Styling for citiesWeather Componant*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(40%, 1fr));
    gap: 3vw;
    z-index: -1;
  }
  
  .grid-item {
    position: relative;
    border-radius: 5px;
    text-align: center;
    background-image: url('../assets/cloud1.png');
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: left;
    transition: 0.1s linear;
    z-index: 2;
  }
  
  
  .two-part-container {
    display: grid;
    grid-template-rows: 2fr 1fr;
    position: relative;
    width: 100%;
    padding-top: 60%;
    border-radius: 5px;
  }
  
  .top-part {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    position: absolute;
    width: 100%;
    height: 60%;
  }
  
  .city-and-time{
    text-align: center;
    padding-top: 10%;
  }
  .current-temp{
     text-align: center;
     padding-top: 2%;
  }
  .wether-description{
    display: flex;
    text-align: center;
    padding-bottom: 10%;
    padding-left: 10%;
  }
  .max-min-temp{
    text-align: center;
    padding-bottom: 10%;
  }
  
  .bottom-part {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #2a3035; 
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    z-index: +1;
  }
  
  .grid-item:hover{
    transform: scaleX(103%) scaleY(103%);
  }
  
  .grid-text-temp{
    font-size: 5.5rem;
  }
  
  .grid-text-city{
    font-size: 2.5rem;
  }
  
  .grid-text-desc{
    position: relative;
    padding: 10px;
    margin-top: 1vw;
    flex: 2;
    font-size: 1.3rem;
    float: left;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  .grid-desc-img{
    flex: 1; 
    width: 2rem;
  }
  
  .grid-text-p{
    font-size: 1rem;
  }
  
  
  .grid-wind-direction-img{
    width: 1.5rem;
  }

  







  @media (max-width:1366px){

    .grid-text-temp{
      font-size: 4rem;
    }
    
    .grid-text-city{
      font-size: 2rem;
    }
    
    .grid-text-desc{
      font-size: 1rem;
    }
    
    .grid-desc-img{
      flex: 1; 
      width: 2rem;
    }
    
    .grid-text-p{
      font-size: 0.8rem;
    }
    
    
    .grid-wind-direction-img{
      width: 1rem;
    }
  
  
}




@media (max-width:1024px){

  #root {
    padding: 3rem;
    text-align: center;
  }


  .grid-container {
    position: relative;
    grid-template-columns: repeat(2, minmax(50%, 1fr));
    gap: 2vw;
    width: 100%;
    z-index: -1;
  }

   
  .two-part-container {
    display: grid;
    grid-template-rows: 2fr 1fr;
    position: relative;
    width: 100%;
    padding-top: 60%;
    border-radius: 5px;
  }

  .grid-text-temp{
    font-size: 3rem;
  }
  
  .grid-text-city{
    font-size: 1.5rem;
  }
  
  .grid-text-desc{
    font-size: 0.75rem;
  }
  
  .grid-desc-img{
    flex: 1; 
    width: 2vw;
  }
  
  .grid-text-p{
    font-size: 0.7rem;
  }
  
  
  .grid-wind-direction-img{
    width: 1rem;
  }


}




/* Styling below is creted for smaller screen devices */

@media (max-width:720px){

    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, minmax(80%, 1fr));
        gap: 3vw;
      }
    
    
    
      /*  this is the Styling for citiesWeather Componant*/
    
    
    
    .two-part-container {
      display: grid;
      grid-template-rows: 2fr 1fr;
      position: relative;
      width: 100%;
      padding-top: 60%;
      border-radius: 5px;
    }
    
    .top-part {
      display: grid;
      grid-template-columns: 1fr 1fr ;
      position: absolute;
      width: 100%;
      height: 65%;
    }
    
    .city-and-time{
      text-align: center;
      padding-top: 10%;
    }
    .current-temp{
       text-align: center;
       padding-top: 2%;
    }
    .wether-description{
      display: flex;
      text-align: center;
      padding-bottom: 10%;
      padding-left: 10%;
    }
    .max-min-temp{
      text-align: center;
      padding-bottom: 10%;
    }
    
    
    
    .bottom-part {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #2a3035; /* Color for the bottom portion */
      border-bottom-left-radius: 5px; 
      border-bottom-right-radius: 5px; 
      padding-top: 3vw;
      padding-bottom: 3vw;
      z-index: +1;
    }
    
      .grid-text-temp{
        font-size: 6rem;
      }
      
      .grid-text-city{
        font-size: 2.5rem;
      }
    
      .grid-text-desc{
     
        font-size: 1.3rem;
       
      }
    
      .grid-desc-img{
        flex: 1; 
        width: 1rem;
      }
    
      .grid-text-p{
        font-size: 1rem;
      }
    

}




@media (max-width:620px){

    .grid-text-temp{
      font-size: 5rem;
    }
    
    .grid-text-city{
      font-size: 2.3rem;
    }
  
    .grid-text-desc{
      font-size: 1.2rem;
    }
  
    .grid-desc-img{
      flex: 1; 
      width: 0.9rem;
    }
  
    .grid-text-p{
      font-size: 0.9rem;
    }
  

}





@media (max-width:560px){

  .grid-text-temp{
    font-size: 4rem;
  }
  
  .grid-text-city{
    font-size: 2rem;
  }

  .grid-text-desc{
    font-size: 1rem;
  }

  .grid-desc-img{
    flex: 1; 
    width: 0.6rem;
  }

  .grid-text-p{
    font-size: 0.8rem;
  }


}




@media (max-width:480px){

  .grid-text-temp{
    font-size: 3.3rem;
  }
  
  .grid-text-city{
    font-size: 1.5rem;
  }

  .grid-text-desc{
   
    font-size: 0.7rem;
   
  }

  .grid-desc-img{
    flex: 1; 
    width: 0.6rem;
  }

  .grid-text-p{
    font-size: 0.7rem;
  }


}




@media (max-width:400px){

  .grid-text-temp{
    font-size: 2.3rem;
  }
  
  .grid-text-city{
    font-size: 1.2rem;
  }

  .grid-text-desc{
    font-size: 0.65rem;

  }

  .grid-desc-img{
    flex: 1; 
    width: 0.6rem;
  }

  .grid-text-p{
    font-size: 0.6rem;
  }


}





@media (max-width:360px){

  .grid-text-temp{
    font-size: 2.2rem;
  }
  
  .grid-text-city{
    font-size: 1.1rem;
  }

  .grid-text-desc{
   
    font-size: 0.6rem;
   
  }

  .grid-text-p{
    font-size: 0.5rem;
  }

}