.item-color-1{
    background-color: #0255d1;
}
   .item-color-2{
    background-color: #483D8B;
}
   .item-color-3{
    background-color: #66CDAA;
}
   .item-color-4{
    background-color: #db904f;
}
   .item-color-5{
    background-color: #DC143C;
}
   .item-color-6{
    background-color: #800000;
}
   .item-color-7{
    background-color: #00008B;
}
   .item-color-8{
    background-color: #556B2F;
}
   .item-color-9{
    background-color: #8B008B;
}
   .item-color-10{
    background-color: #2F4F4F
}
   .item-color-11{
    background-color: #191970
}