*{
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}


body{
  font-family: "Segoe UI", Arial, sans-serif;;
  background: url('./assets/clouds.jpg'); 
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
  min-width: 360px;
}


h1 {
  font-size: 2.5vw;
  line-height: 1.1;
}

p {
  font-size: 2.5vw;
}

img{
  position: relative;
  width: 4vw;
}


.app {
   position: relative;
   color: rgba(255, 255, 255, 0.87);
   width: 100%;
   height: 0;
   z-index: -10;
}

.app:before{
  content:'' ;
  position: absolute;
  width: 100%;
  height: 70hv;
  top: 0;
  left: 0;
  z-index: -1;
}

.Spacer{
  width: 100%;
  height: 20px;
}


.second-page{
  max-width: 1280px;
  max-height: 720px;
}

.footer-container {
  margin-top: 20vw;
  place-items: center;
  width: 100%;
  height: 10vw;
  left: 0;
  border-radius: 5px;
  position: absolute;
}

.page-footer{
  background-color: #2a3035 ;
  color: white;
  padding: 1.5vw;
}

/* direction icon for all componants*/

.wind-speed{
  
    border-left: 0.1vw solid white;
    border-right: 0.1vw solid white;
  
}


/* This is the styling for Link elements in the components  */


.container-links {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.link-style{
  color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.cont-hght-10vw{
  height: 10vw;
}


/*This is the Styiling for  title bar*/

.title-img{
  display: inline;
  margin-right: 2vw;
  width: 3vw;
  text-decoration: none;
}

.title-name{
  display: inline;
}

.titleBar{
  display: inline-block;
  transition: 0.1s linear;
}

.titleBar:hover{
  transform: scaleX(101%) scaleY(101%);
  
}



/* This is the styling for Loading Animation */

.loading-circle{
  width: 10vw;
  height: 10vw;
  border-radius: 5vw;
  box-shadow: inset 5px 5px 10px gray;
  animation: left-to-right 1s cubic-bezier(0.88, 0.24, 0.1, 0.74) forwards infinite;
}

.loading-dot{
  position:absolute;
  transform: translateX(450%);
  background-color: white;
  width: 1vw;
  height: 1vw;
  border-radius: 0.5vw;
}

@keyframes left-to-right {
  from{
      transform: rotate(0deg);
  }

  to{
      transform: rotate(360deg);
  }
}




/* Styling below is creted for smaller screen devices */

@media (max-width:720px){

 
  /* Title Bar*/
 

  .title-img{
    margin-right: 2rem;
    min-width: 30px;
  }
  
  .title-name{
    font-size: 2rem;
  }
  
  .app .titleBar{
    display: block;
    margin-bottom: 20px;
  }
  
  .titleBar:hover{
    transform: scaleX(101%) scaleY(101%);
  }
 

}

@media (max-width:620px){

  .title-img{
    margin-right: 1.8rem;
 
  }
  
  .title-name{
    font-size: 1.8rem;
  }

}


@media (max-width:560px){

  .title-img{
    margin-right: 1.7rem;
    
  }
  
  .title-name{
    font-size: 1.7rem;
  }

}

@media (max-width:480px){

  .title-img{
    margin-right: 1.6rem;
   
  }
  
  .title-name{
    font-size: 1.6rem;
  }
 

}

@media (max-width:400px){

  .title-img{
    margin-right: 1.5rem;
   
  }
  
  .title-name{
    font-size: 1.5rem;
  }

}



@media (max-width:360px){

  .title-img{
    margin-right: 1.4rem;
   
  }
  
  .title-name{
    font-size: 1.4rem;
  }
  
}


